.fade {
  opacity: 1;
}

@keyframes rotateImg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateBorder {
  0% {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0.5rem;
  }
  33% {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0;
  }
  66% {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  100% {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
}

@keyframes productGlow {
  0% {
    width: 80%;
    position: relative;

    transform: rotateX(0deg);
  }
  33% {
    width: 80%;
    position: relative;

    transform: rotateX(120deg);
  }
  66% {
    width: 80%;
    position: relative;
    transform: rotateX(240deg);
  }
  100% {
    width: 80%;
    position: relative;
    transform: rotateX(360deg);
  }
}
