* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.know-more-btn {
  background-color: black;
  color: white;
  border-radius: 1rem;

  &:hover {
    color: black;
    background-color: white;
    font-weight: 800;
  }
}

.btn {
  margin-left: 0.725rem;
  width: 7rem;
  height: 2.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.explore-btn {
  color: white;
  background-color: black;
  border-radius: 1rem;

  &:hover {
    color: black;
    background-color: white;
    animation: rotateBorder 3s infinite;
  }
}
