.owl-next,
.owl-prev {
  font-size: 35px !important;
  background: #d0d0d0 !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 3rem;
  padding: 35px;
}

.owl-dots {
  display: none;
}

.owl-prev {
  left: 0;
}

.owl-carousel {
  .news-item {
    background-color: pink;
    h3 {
      text-align: center;
      padding: 0.5rem;
      margin: 0.5rem;
    }
  }
}
